/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
}

.box-shadow-muted{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf; 
}

input{
  border: none;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.add-review-box{
  background: #5C85FF;
}

.radius50{
  border-radius: 50% !important;
}