.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0rem;
  flex: 1;
}

.footer {
  width: 100%;
  height: auto;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
